{% load humanize %}
{% load staticfiles %}
<nav class=" local navbar navbar-default">
  <div class="container-fluid page-header">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><span id="header">gAnttlr - Gantt charts</span>
        <img src ="{%static 'svg/antler3.svg'%}" class="antler-icon navbar-logo" alt="Medium sized antler"/>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#" data-toggle="modal" data-target="#aboutModal">About</a></li>
        <li><a href="#">Link</a></li>
        <li class="local dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          
        </li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
        {% if user.is_authenticated%}
          <div class="signed-in">Signed in as <a href="/profile/{{user}}">{{user}}</a></div>
          <div class="pull-right"><a href="/logout">Logout ?</a></div>
        {%else%}
          <button type="button" class="btn btn-default navbar-btn"><a href="/login">Sign in</a></button>
        {%endif%}
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

